<div>
  <div class="mainPageWrap text-center">
    <div class="text-left headWrap">
      <span class="textPrimary">Homework</span>
    </div>
    <div class="text-center contentWrap">
      <div class="inputWrap">
        <div>
          <span class="textPrimary"><b>John Doe</b></span>&nbsp;
          <span class="textSecondary">Homework</span>
        </div>
      </div>
      <div>
        <div class="DF tileWrap">
          <div class="icon">
            <span>
              <i class="fa fa-book"></i>
            </span>
          </div>
          <div class="title">
            <span>English</span>
          </div>
          <div class="statusWrap">
            <div class="statusIcon complete">
              <span>
                <i class="fa fa-chevron-right"></i>
              </span>
            </div>
            <div class="status">
              <span>COMPLETE</span>
            </div>
          </div>
        </div>
        <div class="DF tileWrap">
          <div class="icon">
            <span>
              <i class="fa fa-calculator"></i>
            </span>
          </div>
          <div class="title">
            <span>Math</span>
          </div>
          <div class="statusWrap">
            <div class="statusIcon pending">
              <span>
                <i class="fa fa-chevron-right"></i>
              </span>
            </div>
            <div class="status">
              <span>COMPLETE</span>
            </div>
          </div>
        </div>
        <div class="DF tileWrap">
          <div class="icon">
            <span>
              <i class="fa fa-user-md"></i>
            </span>
          </div>
          <div class="title">
            <span>Biology</span>
          </div>
          <div class="statusWrap">
            <div class="statusIcon noWork">
              <span>
                <i class="fa fa-chevron-right"></i>
              </span>
            </div>
            <div class="status">
              <span>COMPLETE</span>
            </div>
          </div>
        </div>
        <div class="DF tileWrap">
          <div class="icon">
            <span>
              <i class="fa fa-music"></i>
            </span>
          </div>
          <div class="title">
            <span>Music</span>
          </div>
          <div class="statusWrap">
            <div class="statusIcon complete">
              <span>
                <i class="fa fa-chevron-right"></i>
              </span>
            </div>
            <div class="status">
              <span>COMPLETE</span>
            </div>
          </div>
        </div>
        <div class="DF tileWrap">
          <div class="icon">
            <span>
              <i class="fa fa-book"></i>
            </span>
          </div>
          <div class="title">
            <span>Visual arts</span>
          </div>
          <div class="statusWrap">
            <div class="statusIcon complete">
              <span>
                <i class="fa fa-chevron-right"></i>
              </span>
            </div>
            <div class="status">
              <span>COMPLETE</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
