@import "scss/base";

.mainPageWrap {
  width: 100%;
  padding: 50px 0px;

  .headWrap {
    margin-top: 100px;
  }

  .formWrap {
    margin-top: 50px;
    width: 350px;
    display: inline-block;

    .forgotPassword {
      padding: 0px 10px;
      text-align: right;
      font-size: 13px;
    }
  }

  .btnWrap {
    margin-top: 50px;
  }

}
