<div>
  <div class="mainPageWrap text-center">
    <div class="text-center headWrap">
      <h4 class="textPrimary">Forgot Password</h4>
      <span>You will receive code on phone number</span>
    </div>
    <div class="text-center formWrap MT100 MB100">
      <div class="inputWrap">
        <input placeholder="Phone no">
      </div>
      <div class="MT50">
        <button class="btn customBtn btnPrimary btnLarge" [routerLink]="['/reset-password']">Send Password</button>
      </div>
    </div>
  </div>

</div>
