<div class="navbarWrapper">
  <div class="col-12 navbar">
    <div class="navItemsWrap">
      <div class="navItem borderRight">Request Information</div>
      <div class="navItem borderRight">My Courses</div>
      <div class="navItem">My Account</div>
    </div>
  </div>
  <div class="container-fluid mainNavBarWrap">
    <div class="row mainNavBar">
      <div class="col-6">
        <div>MindSling</div>
      </div>
      <div class="col-6 mainNavItems">
        <div class="col-3 CP text-capitalize text-muted text-center">
          HOME
        </div>
        <div class="col-3 CP text-capitalize text-muted text-center">
          ABOUT US
        </div>
        <div class="col-3 CP text-capitalize text-muted text-center">
          SERVICES
        </div>
        <div class="col-3 CP text-capitalize text-muted text-center">
          CONTACT
        </div>
      </div>
    </div>
  </div>
</div>
