<footer>
  <div class="footerWrap">
    <div class="row mainFooter">
      <div class="col-lg-3 col-md-3 CP">
        MINDSLING
      </div>
      <div class="col-lg-3 col-md-3 footerItems">
        <ul>
          <li>Home</li>
          <li>About Us</li>
          <li>Services</li>
          <li>Contact</li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-3 footerItems">
        <ul>
          <li>Helpful Links</li>
          <li>Find a School</li>
          <li>Attend an Event</li>
          <li>Visit Parent Portal</li>
          <li>Buy Courses</li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-3 footerItems">
        <div class="socialIconsWrap">
          <div class="socialIcon text-center">
            <i class="fa fa-instagram"></i>
          </div>
          <div class="socialIcon text-center">
            <i class="fa fa-twitter"></i>
          </div>
          <div class="socialIcon text-center">
            <i class="fa fa-tumblr"></i>
          </div>
          <div class="socialIcon text-center">
            <i class="fa fa-facebook"></i>
          </div>
          <div class="socialIcon text-center">
            <i class="fa fa-digg"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="subFooter">

    </div>
  </div>
</footer>
