<div>
  <div class="mainPageWrap text-center">
    <div class="text-left headWrap">
      <span class="textPrimary">Home</span>
    </div>
    <div class="text-center formWrap">
      <div class="inputWrap">
        <select name="board" class="form-control form-control-alternative">
          <option value="default" disabled>Select Child</option>
          <option>John</option>
          <option>John</option>
          <option>John</option>
          <option>John</option>
        </select>
      </div>
      <div>
        <div class="row menusWrap">
          <div class="col-6 menu" [routerLink]="['/parents/home-work']">
            <div class="menuIcon">
              <i class="fa fa-file-o"></i>
            </div>
            <div class="menuText">Homework</div>
          </div>
          <div class="col-6 menu" [routerLink]="['/parents/fee']">
            <div class="menuIcon">
              <i class="fa fa-graduation-cap"></i>
            </div>
            <div class="menuText">Fee</div>
          </div>
        </div>
        <div class="row menusWrap">
          <div class="col-6 menu">
            <div class="menuIcon">
              <i class="fa fa-clock-o"></i>
            </div>
            <div class="menuText">Attendance</div>
          </div>
          <div class="col-6 menu">
            <div class="menuIcon">
              <i class="fa fa-calendar"></i>
            </div>
            <div class="menuText">Calendar</div>
          </div>
        </div>
        <div class="row menusWrap">
          <div class="col-6 menu">
            <div class="menuIcon">
              <i class="fa fa-bell-o"></i>
            </div>
            <div class="menuText">Notices</div>
          </div>
          <div class="col-6 menu">
            <div class="menuIcon">
              <i class="fa fa-calendar-times-o"></i>
            </div>
            <div class="menuText">Timetable</div>
          </div>
        </div>
        <div class="row menusWrap">
          <div class="col-6 menu">
            <div class="menuIcon">
              <i class="fa fa-file"></i>
            </div>
            <div class="menuText">Leaves</div>
          </div>
          <div class="col-6 menu">
            <div class="menuIcon">
              <i class="fa fa-users"></i>
            </div>
            <div class="menuText">Meetings</div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
