<div>
  <div>
    <img class="WP100" src="assets/images/hero-bg.png">
  </div>

  <div class="mainPageWrap text-center">
    <div class="text-center headWrap">
      <h4 class="textPrimary">Login</h4>
    </div>
    <div class="text-center formWrap">
      <div class="inputWrap">
        <input placeholder="Email">
      </div>
      <div class="inputWrap">
        <input placeholder="Password">
      </div>
      <div class="forgotPassword">
        <a class="textPrimary CP" [routerLink]="['/forgot-password']">forgot password?</a>
      </div>
      <div class="MT50">
        <button class="btn customBtn btnPrimary btnLarge">Login</button>
      </div>
    </div>
    <div class="MT150">
      <div class="text-center">
        <span>Don't have an account?</span>&nbsp;
        <a class="textPrimary CP" [routerLink]="['/signup']"><u>Signup</u></a>
      </div>
    </div>
  </div>

</div>
