<div>
  <div class="mainPageWrap text-center">
    <div class="text-left headWrap">
      <span class="textPrimary">Fee</span>
    </div>
    <div class="titleWrap">
      <div>
        <span class="textPrimary"><b>John Doe</b></span>&nbsp;
        <span class="textSecondary">Fee</span>
      </div>
    </div>
    <div class="text-center contentWrap">
      <div>
        <div class="tileWrap">
          <div class="title">
            <span>January</span>
          </div>
          <div class="statusWrap">
            <div class="statusIcon complete">
              <span class="status">Paid</span>
            </div>
          </div>
        </div>
        <div class="tileWrap">
          <div class="title">
            <span>Febrauary</span>
          </div>
          <div class="statusWrap">
            <div class="statusIcon complete">
              <span class="status">Paid</span>
            </div>
          </div>
        </div>
        <div class="tileWrap">
          <div class="title">
            <span>March</span>
          </div>
          <div class="statusWrap">
            <div class="statusIcon noWork">
              <span class="status">Paid</span>
            </div>
          </div>
        </div>
        <div class="tileWrap">
          <div class="title">
            <span>April</span>
          </div>
          <div class="statusWrap">
            <div class="statusIcon complete">
              <span class="status">Paid</span>
            </div>
          </div>
        </div>
        <div class="tileWrap">
          <div class="title">
            <span>May</span>
          </div>
          <div class="statusWrap">
            <div class="statusIcon pending">
              <span class="status">Paid</span>
            </div>
          </div>
        </div>
        <div class="tileWrap">
          <div class="title">
            <span>June</span>
          </div>
          <div class="statusWrap">
            <div class="statusIcon pending">
              <span class="status">Paid</span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
