<div>
  <div>
    <img class="WP100" src="assets/images/hero-bg.png">
  </div>

  <div class="mainPageWrap text-center">
    <div class="text-center headWrap">
      <h4 class="textPrimary">Profile</h4>
      <span>Profile Picture</span>
    </div>
    <div class="text-center formWrap">
      <div class="inputWrap">
        <input placeholder="Name">
      </div>
      <div class="inputWrap">
        <input placeholder="Email">
      </div>
      <div class="inputWrap">
        <input placeholder="Password">
      </div>
      <div class="MT50">
        <button class="btn customBtn btnPrimary btnLarge">Signup</button>
      </div>
    </div>
    <div class="MT150">
      <div class="text-center">
        <span>Already have an account?</span>&nbsp;
        <a class="textPrimary CP" [routerLink]="['/login']"><u>Login</u></a>
      </div>
    </div>
  </div>

</div>
