<div>
  <div>
    <img class="WP100" src="assets/images/hero-bg.png">
  </div>

  <div class="mainPageWrap text-center">
    <div class="text-center headWrap">
      <h4 class="textPrimary">Reset Password</h4>
    </div>
    <div class="text-center formWrap MB100">
      <div class="inputWrap">
        <input placeholder="New Password">
      </div>
      <div class="inputWrap">
        <input placeholder="Confirm Password">
      </div>
      <div class="MT50">
        <button class="btn customBtn btnPrimary btnLarge">Proceed</button>
      </div>
    </div>
  </div>

</div>
